@import "tailwindcss";

@theme {
  --color-primary: #199ad6;
  --color-primary-dark: #147eb0;
  --color-primary-light: #e8f5fb;

  --color-secondary: #8ec641;
  --color-secondary-light: #f4f9ec;

  --color-accent: #ff8f00;
  --color-accent-light: #fff8e1;

  --color-biotechvet-alt: #f0f7fb;
  --color-biotechvet-dark: #051a24;
}

:root {
  --font-inter: 'Inter', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat);
  font-weight: 800;
  letter-spacing: -0.025em;
}

.min-h-screen {
  min-height: 100vh !important;
}